/*
    Natalie DeFrates
    Lab 3: Advanced Layout with Flexbox, Grid, and Positioning- CSS Style Page
    Feb 25, 2026
 */
@charset "UTF-8";

/*@keyframes spin{
    0%{
        
    }
    100% {
       transform: rotate(360deg)
       border-radius: 50%; 
    }
};*/



/**************** Style rules for mobile viewport*****************/

.tab-desk {
    display: none;
}


#navbar{
    background-color: #5F9C9C;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    float:left;
    color:antiquewhite;
    text-align: center;
    padding: 10px;
    animation: 3s;
}
#navbar a:hover{
    background-color: blanchedalmond;
    color:black;
}

header{
	text-align: center;
    margin:0 auto;
    font-family: 'Garamond', 'Times New Roman', serif;
    font-size: 2em;
    text-align: center;
}
.logo{
    /*grid-column: 3/4;
    grid-row: 1/2;*/
    animation-name: spin;
    animation-duration: 3s;
}

h1{
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-wrap: balance;
}

h2{
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-size: cover;
    background-attachment: fixed;
}

main{
    background-color: bisque;

}

footer {
    text-align: center;
    font-size: 0.85em;
    font-weight: bold;
}




/* Media Query for Tablet & Desktop Viewport */
@media screen and (min-width: 600px) { 

    .tab-desk {
        display: fixed;
    }

    .mobile {
        display: none;
    }

    .grid-container{
        display: grid;
        grid-auto-columns: minmax(1fr 3fr) ;
        grid-auto-rows: minmax(20% 35%);
        grid-template-areas: 
        "box-1 box-1 box-2"
        "box-3 content content"
        "box-4 box-4 box-4" ;
    }

header {
    text-align: left;
    font-family: 'Garamond', 'Times New Roman', serif;
}

.logo{
    animation-duration: 3s;
    animation-name: spin;
    
    object-fit: contain;
}
@keyframes spin{
    0%{
        
    }
    50% {
        scale: 2;
        transform: rotate(0);
        border-radius: 0;
    }
    100% {
       transform: rotate(360deg);
       border-radius: 50%; 
    }
};

h1{
    font-size: 2em;

}

h2{
    font-size: 2em;

}

h3{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

    
#navbar{
    background-color: #5F9C9C;
    position: fixed;
    top: 0;
    width: 200px;
    transition: top 0.3s;
    color:antiquewhite;
    text-align: center;
    padding: 10px;

}
#navbar a:hover{
    background-color: blanchedalmond;
    color:black;
}

body{
    background-size: cover;
    background-attachment: fixed;
    /*display:grid;
    grid-template-columns: 2fr 3fr 1fr;
    grid-template-rows: 20% 3fr 10%;*/
}

main{
    background-color: bisque;
    grid-row:2/3;
    grid-column: 2/3;
}

footer {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    grid-row: 3/4;
    width: 100%;

}
}