/*
    Natalie DeFrates
    Lab 3: Advanced Layout with Flexbox, Grid, and Positioning- CSS Style Page
    Feb 25, 2026
 */
@charset "UTF-8";

/*@keyframes spin{
    0%{
        
    }
    100% {
       transform: rotate(360deg)
       border-radius: 50%; 
    }
};*/



/**************** Style rules for mobile viewport*****************/

.tab-desk {
    display: none;
}


#navbar{
    background-color: #5F9C9C;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    float:left;
    color:antiquewhite;
    text-align: center;
    padding: 10px;
    animation: 3s;
}
#navbar a:hover{
    background-color: blanchedalmond;
    color:black;
}

header{
	text-align: center;
    margin:0 auto;
    font-family: 'Garamond', 'Times New Roman', serif;
    font-size: 2em;
    text-align: center;
}
.logo{
    /*grid-column: 3/4;
    grid-row: 1/2;*/
    animation-name: spin;
    animation-duration: 3s;
}

h1{
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-wrap: balance;
}

h2{
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-size: cover;
    background-attachment: fixed;
}

main{
    background-color: bisque;

}

footer {
    text-align: center;
    font-size: 0.85em;
    font-weight: bold;
}




/* Media Query for Tablet & Desktop Viewport */
@media screen and (min-width: 600px) { 

    .tab-desk {
        display: fixed;
    }

    .mobile {
        display: none;
    }

    .grid-container{
        display: grid;
        grid-auto-columns: minmax(1fr 3fr) ;
        grid-auto-rows: minmax(20% 35%);
        grid-template-areas: 
        "box-1 box-1 box-2"
        "box-3 box-4 box-4"
        "box-5 box-5 box-5" ;
    }

header {
    text-align: left;
    font-family: 'Garamond', 'Times New Roman', serif;
    color:aliceblue;
}

#logo{
    /*animation-duration: 3s;
    animation-name: spin;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;*/
    animation: 3s spin ease 1 normal forwards;
}
@keyframes spin{
    0%{
        
    }
    50% {
        scale: 1.5;
        transform: rotate(0);
        border-radius: 25;
    }
    100% {
       transform: rotate(360deg);
       border-radius: 50%;
    }
};

h1{
    font-size: 1.5em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    font-size: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3{
    text-align: center;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
h4{
    font-size:larger;
    text-decoration: solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

    
#navbar{
    background-color: #5F9C9C;
    position: fixed;
    top: 0;
    width: 200px;
    transition: top 0.3s;
    color:antiquewhite;
    text-align: center;
    padding: 10px;

}
#navbar a:hover{
    background-color: blanchedalmond;
    color:black;
}

body{
    background-size: cover;
    background-attachment: fixed;
    background-color: #1B1B1B;
    /*display:grid;
    grid-template-columns: 2fr 3fr 1fr;
    grid-template-rows: 20% 3fr 10%;*/
}

main{
    /*grid-column: 2/3;
    grid-row: 2/3;*/
    border-radius: 5%;
    grid-column: subgrid;
    grid-row: subgrid;
    position: center;

}

.section1{
    text-wrap: balance;
    position:relative;
    background-color: bisque;
}
/*#main::after, #main::before{
    --angle: 0deg;
    content: '';
    position:absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle),red, blue, green, red);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 5%;
    animation:3s border linear infinite;
}
#main::before{
    filter:blur(1rem);
    opacity: 0.5;*/


.banner{
    align-self: center;
    padding-left: 15%;
    padding-right: 15%;
}

@keyframes border{
    from{
        --angle:0deg;
    }
    to{
      --angle:360deg; 
    }
};

footer {
    text-align: center;
    font-size: 1em;
    font-weight: bold;

}
}