/*
    Natalie DeFrates
    Lab 3: Advanced Layout with Flexbox, Grid, and Positioning- CSS Style Page
    Feb 25, 2026
 */
@charset "UTF-8";

@keyframes animation{
    0%{

    }
    100% {

    }
};
.logo{
    animation: forwards;
}


/**************** Style rules for mobile viewport*****************/

.tab-desk {
    display: none;
}


#navbar{
    background-color: #5F9C9C;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    float:left;
    color:antiquewhite;
    text-align: center;
    padding: 10px;
    animation: 3s;
}
#navbar a:hover{
    background-color: blanchedalmond;
    color:black;
}

header{
	text-align: center;
    margin:0 auto;
    font-family: 'Garamond', 'Times New Roman', serif;
    font-size: 2em;
    text-align: center;
}

h1{
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-wrap: balance;
}

h2{
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-size: cover;
    background-attachment: fixed;
}

main{
    background-color: bisque;

}

footer {
    text-align: center;
    font-size: 0.85em;
    font-weight: bold;
}

/* Media Query for Tablet & Desktop Viewport */
@media screen and (min-width: 600px), print{ 

    .tab-desk {
        display: block;
    }

    .mobile {
        display: none;
    }

header {
    grid-area: header;
    position: sticky;
	text-align: center;
    margin:0 auto;
    font-family: 'Garamond', 'Times New Roman', serif;
    font-size: 2em;
    text-align: center;
}


h1{
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-wrap: balance;
}

h2{
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

    
#navbar{
    background-color: #5F9C9C;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    float:left;
    color:antiquewhite;
    text-align: center;
    padding: 10px;
}
#navbar a:hover{
    background-color: blanchedalmond;
    color:black;
}

body{
    background-size: cover;
    background-attachment: fixed;
}

main{
    background-color: bisque;

}

footer {
    text-align: center;
    font-size: 0.85em;
    font-weight: bold;
}
}