/*
    Natalie DeFrates
    Lab 3: Advanced Layout with Flexbox, Grid, and Positioning- CSS Style Page
    Feb 25, 2026
 */
@charset "UTF-8";

@keyframes animation{
    0%{

    }
    100% {

    }
};



/**************** Style rules for mobile viewport*****************/

.tab-desk {
    display: none;
}


#navbar{
    background-color: #5F9C9C;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    float:left;
    color:antiquewhite;
    text-align: center;
    padding: 10px;
    animation: 3s;
}
#navbar a:hover{
    background-color: blanchedalmond;
    color:black;
}

header{
	text-align: center;
    margin:0 auto;
    font-family: 'Garamond', 'Times New Roman', serif;
    font-size: 2em;
    text-align: center;
}
.logo{
    grid-column: 3/4;
    grid-row: 1/2;
}

h1{
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-wrap: balance;
}

h2{
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-size: cover;
    background-attachment: fixed;
}

main{
    background-color: bisque;

}

footer {
    text-align: center;
    font-size: 0.85em;
    font-weight: bold;
}

/* Media Query for Tablet & Desktop Viewport */
@media screen and (min-width: 600px) { 

    .tab-desk {
        display: grid;
    }

    .mobile {
        display: none;
    }

header {
    grid-row: 1/2;
    margin:0 auto;
    font-family: 'Garamond', 'Times New Roman', serif;
}

.logo{
    grid-column: 3/4;
    grid-row: 1/2;
    animation: forwards;

}

h1{
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    grid-row: 1/2;
    grid-column: 2/3;
}

h2{
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:small;
    grid-row: 1/2;
    grid-column: 2/3;
}

h3{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

    
#navbar{
    background-color: #5F9C9C;
    position: fixed;
    top: 0;
    width: 200px;
    transition: top 0.3s;
    color:antiquewhite;
    text-align: center;
    padding: 10px;

}
#navbar a:hover{
    background-color: blanchedalmond;
    color:black;
}

body{
    background-size: cover;
    background-attachment: fixed;
    display:grid;
    grid-template-columns: 2fr 3fr 1fr;
    grid-template-rows: 20% 3fr 10%;
}

main{
    background-color: bisque;
    grid-row:2/3;
    grid-column: 2/3;
}

footer {
    text-align: center;
    font-size: 0.85em;
    font-weight: bold;
    grid-row: 3/4;
}
}