/*
    Natalie DeFrates
    Lab 3: Advanced Layout with Flexbox, Grid, and Positioning- CSS Style Page
    Feb 25, 2026
 */
@charset "UTF-8";

/*@keyframes spin{
    0%{
        
    }
    100% {
       transform: rotate(360deg)
       border-radius: 50%; 
    }
};*/



/**************** Style rules for mobile viewport*****************/

.tab-desk {
    display: none;
}


#navbar{
    background-color: #5F9C9C;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    float:left;
    color:antiquewhite;
    text-align: center;
    padding: 10px;
    animation: 3s;
}
#navbar a:hover{
    background-color: blanchedalmond;
    color:black;
}

header{
	text-align: center;
    margin:0 auto;
    font-family: 'Garamond', 'Times New Roman', serif;
    font-size: 2em;
    text-align: center;
}
.logo{
    /*grid-column: 3/4;
    grid-row: 1/2;*/
    animation-name: spin;
    animation-duration: 3s;
}

h1{
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-wrap: balance;
}

h2{
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-size: cover;
    background-attachment: fixed;
}

main{
    background-color: bisque;

}

footer {
    text-align: center;
    font-size: 0.85em;
    font-weight: bold;
}




/* Media Query for Tablet & Desktop Viewport */
@media screen and (min-width: 600px) { 

    .tab-desk {
        display: fixed;
    }

    .mobile {
        display: none;
    }

    .grid-container{
        display: grid;
        grid-auto-columns: minmax(1fr 3fr) ;
        grid-auto-rows: minmax(20% 35%);
        grid-template-areas: 
        "box-1 box-1 box-2"
        "box-3 box-4 box-4"
        "box-5 box-5 box-5" ;
    }

header {
    text-align: left;
    font-family: 'Garamond', 'Times New Roman', serif;
    overflow: hidden;
}

#logo{
    /*animation-duration: 3s;
    animation-name: spin;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;*/
    animation: 3s spin ease 1 normal forwards;
}
@keyframes spin{
    0%{
        
    }
    50% {
        scale: 1.5;
        transform: rotate(0);
        border-radius: 25;
    }
    100% {
       transform: rotate(360deg);
       border-radius: 50%;
    }
};

h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.masked-text {
    font-size: 8rem;
    font-weight: bold;
    overflow: hidden;
    color: transparent;
    background-image: url(images/pexels-anniroenkae-3109808.jpg); 
    background-size: 150%; /* Enlarged for smooth animation */
    background-position: 0 50%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-background 6s infinite alternate linear;
}

@keyframes animate-background {
    0% {
        background-position: 0 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

h2{
    font-size: 2em;
    font-family: 'Scope One';
    color: #5F9C9C;
}
.typing {
  animation: 
    typewriter 5s steps(50) 1s 1 normal both, 
    blinkingCursor 500ms steps(50) infinite normal;
}
.cursor{
    position: relative;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 30px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}
@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}
@keyframes blinkingCursor{
  from { border-right-color: rgba(255,255,255,.75); }
  to { border-right-color: rgba(255,255,255,.75); }
}

h3{
    text-align: center;
    font-size: xx-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h4{
    font-size:larger;
    text-decoration: solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

    
.navbar{
    top: 0;
    width: minmax(20px 100px);
    transition: top 0.3s;
    color:antiquewhite;
    text-align: left;
    padding: 10px;
    position: relative;
    overflow: hidden;
}
.aside-section {
  top: 0;
  bottom: 0;
  position: absolute;
}

.aside-left {
  display: none;
  width: 40%;
  left: 0;
  background-color: #5F9C9C;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  transition: transform 0.4s ease-in-out;
}

.aside-right {
  width: 100%;
  right: 0;
  background-color: #38618c;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
}

.aside-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 150px;
  text-align: left;
  padding-left: 50px;
}

.aside-content {
  margin-top: 150px;
  padding: 0 40px;
  position: relative;
  color: white;
  text-align: center;
}

.aside-list li {
  margin-bottom: 20px;
}

.aside-anchor::after {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: #5F9C9C;
  left: 0;
  right: 0;
  height: 3px;
  border-radius: 3px;
}

.aside-anchor::before {
  border-radius: 3px;
  content: "";
  position: absolute;
  bottom: 0;
  background-color: #fff;
  left: 0;
  height: 3px;
  z-index: 1;
  width: 50%;
  -webkit-transition: transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}

.aside-anchor:hover:before {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}

.aside-anchor {
  padding-bottom: 7px;
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  position: relative;
  font-weight: 500;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ aside .aside-left {
  transform: translateY(0%);
}

input[type="checkbox"]:checked ~ aside .aside-right {
  transform: translateX(0%);
}

input[type="checkbox"]:checked ~ label .bar {
  background-color: #fff;
}

input[type="checkbox"]:checked ~ label .top {
  -webkit-transform: translateY(0px) rotateZ(45deg);
  -moz-transform: translateY(0px) rotateZ(45deg);
  -ms-transform: translateY(0px) rotateZ(45deg);
  -o-transform: translateY(0px) rotateZ(45deg);
  transform: translateY(0px) rotateZ(45deg);
}

input[type="checkbox"]:checked ~ label .bottom {
  -webkit-transform: translateY(-15px) rotateZ(-45deg);
  -moz-transform: translateY(-15px) rotateZ(-45deg);
  -ms-transform: translateY(-15px) rotateZ(-45deg);
  -o-transform: translateY(-15px) rotateZ(-45deg);
  transform: translateY(-15px) rotateZ(-45deg);
}

input[type="checkbox"]:checked ~ label .middle {
  width: 0;
}

.middle {
  margin: 0 auto;
}

label {
  top: 10px;
  display: inline-block;
  padding: 7px 10px;
  background-color: transparent;
  cursor: pointer;
  margin: 10px;
  z-index: 3;
  position: fixed;
}

.bar {
  display: block;
  background-color: #38618c;
  width: 30px;
  height: 3px;
  border-radius: 5px;
  margin: 5px auto;
  transition: background-color 0.4s ease-in, transform 0.4s ease-in,
    width 0.4s ease-in;
}

h1 {
  margin: 0;
  position: relative;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
  font-size: 30px;
}

h1 span {
  font-size: 20px;
  display: block;
}

p {
  font-size: 30px;
}

.button {
  display: inline-block;
  background-image: none;
  border: none;
  background-color: transparent;
  padding-bottom: 7px;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  color: white;
  padding: 7px 50px;
  border: 2px solid white;
}

@media (min-width: 992px) {
  h1 {
    font-size: 40px;
  }
  .aside-left {
    display: block;
  }

  .aside-right {
    width: 60%;
  }
}


body{
    background-size: cover;
    background-attachment: fixed;
    background-color: #1B1B1B;
    /*display:grid;
    grid-template-columns: 2fr 3fr 1fr;
    grid-template-rows: 20% 3fr 10%;*/
}

main{
    grid-column: 2/3;
    grid-row: 2/3;
    border-radius: 5%;
    position: center;

}

.section1{
    text-wrap: balance;
    position:center;
    background-color: bisque;
    grid-column: subgrid;
    grid-row: subgrid;
    
}
/*#main::after, #main::before{
    --angle: 0deg;
    content: '';
    position:absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle),red, blue, green, red);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 5%;
    animation:3s border linear infinite;
}
#main::before{
    filter:blur(1rem);
    opacity: 0.5;*/


.banner{
    align-self: center;
    padding-left: 15%;
    padding-right: 15%;
}

@keyframes border{
    from{
        --angle:0deg;
    }
    to{
      --angle:360deg; 
    }
};

footer {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    color:#fff
}
}